<!DOCTYPE html>
<html>


    <head>
        <title>Bookish - About Us</title>

        <link rel="stylesheet" href="/styles/bootstrap.css"/>
        <link rel="stylesheet" href="/styles/about.css"/>
    </head>

    <body>

        <% include fragments/navbar.html %>

        <div class="container" style="margin-top: 5em;">
            <h2>This app was made using:</h2>
            <br>

            <div class="technology-list">
                <% technologies.forEach(function(technology) { %>
                    <div class="technology">
                        <img src="<%= technology.logoUrl %>" title="<%= technology.name %>" />

                        <a href="/about/delete-technology?technologyId=<%= technology.id %>" class="delete-button">delete</a>
                    </div>
                <% }); %>
            </div>

            <h2>Add a technology:</h2>
            <form action="/about/add-technology" method="post">
                <div class="add-tech-row">
                    <label>
                        <span>Name: </span>
                        <input type="text" name="name">
                    </label>
                </div>
                <div class="add-tech-row">
                    <label>
                        <span>Logo URL: </span>
                        <input type="text" name="logoUrl">
                    </label>
                </div>
                <div class="add-tech-row">
                    <span><!-- spacer --></span>
                    <input type="submit" value="Add technology" />
                </div>
            </form>
        </div>

    </body>


</html>