<!DOCTYPE html>
<html>


    <head>
        <title>Bookish - Books</title>
       
        <link rel="stylesheet" href="/styles/bootstrap.css"/>
        <link rel="stylesheet" href="/styles/about.css"/>
    </head>

    <body>

        <% include fragments/navbar.html %>

        <div class="container" style="padding-top: 5em;">
            <h2>Authors:</h2>
            <hr>
            <br>

            <div class="technology-list">
                <% author.forEach(function(author) { %>
                    <% let dobDate = new Date(author.DOB) %>
                    <% let dodDate = new Date(author.DOD) %>
                    <div class="technology">
                        <h4><%=author.NAME%></h4>
                        <p><strong>Born: </strong><%=new Intl.DateTimeFormat().format(dobDate);%></p>
                        <p><strong>Died: </strong><%=new Intl.DateTimeFormat().format(dodDate);%></p>
                        <h5><%=author.NATIONALITY%></h5>
                        <div class="delete-book">
                            <a href="/authors/remove-author?authorID=<%=author.ID%>" class="delete-button">Delete</a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>

    </body>


</html>