<!DOCTYPE html>
<html>


    <head>
        <title>Bookish - Books</title>

        <link rel="stylesheet" href="/styles/general.css"/>
        <link rel="stylesheet" href="/styles/navbar.css"/>
        <link rel="stylesheet" href="/styles/about.css"/>
    </head>

    <body>

        <% include fragments/navbar.html %>

        <div class="container">
            <h2>This app was made using:</h2>

            <div class="technology-list">
                <% books.forEach(function(book) { %>
                    <div class="technology">
                        <p><%=book.NAME%></p>
                        <p><%=book.PUBLISH_DATE%></p>
                        <p><%=book.LANGUAGE%></p>
                    </div>
                <% }); %>
            </div>

            <h2>Add a technology:</h2>
            <form action="/about/add-technology" method="post">
                <div class="add-tech-row">
                    <label>
                        <span>Name: </span>
                        <input type="text" name="name">
                    </label>
                </div>
                <div class="add-tech-row">
                    <label>
                        <span>Logo URL: </span>
                        <input type="text" name="logoUrl">
                    </label>
                </div>
                <div class="add-tech-row">
                    <span><!-- spacer --></span>
                    <input type="submit" value="Add technology" />
                </div>
            </form>
        </div>

    </body>


</html>