<!DOCTYPE html>
<html>


    <head>
        <title>Bookish - Books</title>

        <link rel="stylesheet" href="/styles/bootstrap.css"/>
        <link rel="stylesheet" href="/styles/about.css"/>
    </head>

    <body>

        <% include fragments/navbar.html %>

        <div class="container" style="padding-top: 5em;">
            <h2>Books: </h2>
            <hr>
            <br>

            <div class="technology-list">
                <% books.forEach(function(book) { %>
                    <%  let formatBook = new Date(book.PUBLISH_DATE) %>
                    <div class="technology">
                        <h4><%=book.NAME%></h4>
                        <p><strong>Published on: </strong><%=new Intl.DateTimeFormat().format(formatBook);%></p>
                        <h5><%=book.LANGUAGE%></h5>
                        <div class="delete-book">
                            <a href="/books/remove-book?bookID=<%=book.ID%>" class="delete-button">Delete</a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>

    </body>


</html>