<!DOCTYPE html>
<html>


    <head>
        <title>Bookish - Books</title>

        <link rel="stylesheet" href="/styles/bootstrap.css"/>
        <link rel="stylesheet" href="/styles/about.css"/>
    </head>

    <body>

        <% include fragments/navbar.html %>

        <div class="container" style="padding-top: 5em;">


            <h2>Add a book:</h2>
            <form action="/control/add-book" method="post">
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control" placeholder="Title" name="name">
                </div>
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control" placeholder="Date Published" name="publishDate">
                </div>
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control" placeholder="Language" name="language">
                </div>
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control" placeholder="Copies" name="copies">
                </div>
                <div class="add-tech-row">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>

            <br>
            <br>
            
            <h2> Add an author: </h2>
            <form action="/control/add-author" method="post">
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control" placeholder="Name" name="name">
                </div>
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control" placeholder="Date of Birth" name="DOB">
                </div>
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control" placeholder="Date of Death" name="DOD">
                </div>
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control" placeholder="Nationality" name="nationality">
                </div>
                <div class="add-tech-row">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>

    </body>


</html>