<!DOCTYPE html>
<html>


    <head>
        <title>Bookish - Home</title>
        <link rel="stylesheet" href="/styles/bootstrap.css"/>
    </head>

    <body>
        
        <% include fragments/navbar.html %>

        <div class="container">
            <div class="jumbotron" style="margin-top: 5em;">
                <h1>Bookish</h1>
                <p><str>Welcome to the Bookish application.</str></p>
                <p><str>Find your way around using the links above.</str></p>
            </div>
        </div>

    </body>


</html>
