<!DOCTYPE html>
<html>


    <head>
        <title>Bookish - Home</title>

        <link rel="stylesheet" href="/styles/general.css"/>
        <link rel="stylesheet" href="/styles/navbar.css"/>
        <link rel="stylesheet" href="/styles/index.css"/>
    </head>

    <body>

        <% include fragments/navbar.html %>

        <div class="container">
            <div class="jumbotron">
                <h1>Bookish</h1>

                <p class="lead">Welcome to the Bookish application</p>
                <p class="lead">Find your way around using the links above</p>
            </div>
        </div>

    </body>


</html>
