<!DOCTYPE html>
<html>


    <head>
        <title>Bookish - Home</title>
        <link rel="stylesheet" href="/styles/bootstrap.css"/>
        <link rel="apple-touch-icon" href="img/favicon.ico">
        <link rel="shortcut icon" href="/styles/img/book.png"/>
    </head>

    <body>
        
        <% include fragments/navbar.html %>

        <div class="container">
            <div class="jumbotron bg-purple" style="margin-top: 5em; color: #fafafa;">
                <h1>Bookish</h1>
                <h4>The smart way to keep track of your books.</h4>
                <br>
                <p>Navigate through the system by using the links above.</p>
            </div>
        </div>

    </body>


</html>
